.entryForm__button {
	background-color: var(--color-nemo);
	color: var(--color-foam);
	min-width: 100px;
	height: 40px;
	border-radius: 5px;
	border-style: none;
	margin: auto;
	font-weight: 900;
}

.entryForm__button:active {
	background-color: var(--color-nemo-mid);
}

.entryFrom__button:hover {
	background-color: var(--color-nemo-dark);
}

.entryList__entryFavoriteButton {
	position: absolute;
	top: 28.5px;
	right: 5px;
	border-style: none;
}

.tabbar__tab {
	display: flex;
	gap: 5px;
	padding: 10px;
	align-items: center;
	cursor: pointer;
	border-style: none;
	border-radius: 20px;
	background-color: var(--color-foam);
}

.tabbar__tab:hover {
	background-color: var(--color-water-10);
}

.tabbar__tab--active {
	color: var(--color-nemo);
}

.tabbar__tab--active .badge {
	color: var(--color-foam);
	background-color: var(--color-nemo);
}
