.badge {
	background-color: lightgray;
	border-radius: 15px;
	width: 1.8em;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
}

.tabbar {
	display: flex;
	gap: 20px;
	font-size: 0.75em;
	padding-top: 50px;
}
