@import "./components/tabbar/tabbar.css";
@import "./components/form/form.css";
@import "./components/entries/entries.css";

* {
	box-sizing: border-box;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
	margin-top: 50px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

header {
	text-align: center;
	background-color: lightgray;
	width: 100%;
	position: absolute;
	top: 0;
}

footer {
	background-color: rgb(70, 70, 70);
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
