@import "./components/tabbar/tabbar.css";
@import "./components/form/form.css";
@import "./components/entries/entries.css";
@import "./utils/colors.css";
@import "./components/button/button.css";

* {
	box-sizing: border-box;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--color-granite);
	background-color: var(--color-foam);
}

main {
	max-width: 400px;
	padding: 0 10px 0 10px;
	margin: 50px auto 50px auto;
}

header {
	text-align: center;
	background-color: var(--color-water-10);
	width: 100%;
	position: fixed;
	top: 0;
	font-variant-caps: all-small-caps;
	z-index: 1;
}

footer {
	background-color: var(--color-granite);
	color: var(--color-foam);
	font-size: 0.8em;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
